<h1 class = 'centered'>Welcome!</h1>
<h3 class = 'centered'>Click <%= link_to 'here', new_patient_path%> if this is your first visit.</h3>
<h3 class = 'centered'>Otherwise, select from the options below:</h3>
<%= button_to 'Schedule Appointment', new_appointment_path, :class => 'button side patbutton1 patnextbutton', :method => :get  %>
<%= button_to 'Cancel Appointment', patients_path, :class => 'button side patnextbutton', :method => :get  %>