<h1 class="centered">Welcome!</h1><br><br><br><br>

<h3 class="centered">
<%= button_to 'Patient',patient_view_index_path, :class=> 'button side button1 dashbutton1 dashnextbutton', :method => :get%>
<%= button_to 'Physician', physicians_path, :class => 'button side dashnextbutton', :method => :get  %>
<%= button_to 'Office Worker', appointments_path, :class => 'button side dashnextbutton', :method => :get%>
<%= button_to 'Admin',admin_view_index_path, :class => 'button side dashnextbutton', :method => :get %></h3>