<h1 class = 'centered'>Choose a table to modify</h1><br><br><br>
<%= button_to 'Appointment Status', appointment_statuses_path, :class => 'button side dbbutton1 dbnextbutton', :method => :get%>
<%= button_to 'Diagnosis', diagnoses_path, :class => 'button side dbnextbutton', :method => :get%>
<%= button_to 'Physician', physicians_path, :class => 'button side dbnextbutton', :method => :get%><br><br><br><br><br><br><br>
<%= button_to 'Physician Status', physician_statuses_path, :class => 'button side2 patbutton1 patnextbutton', :method => :get%>
<%= button_to 'Time Slot', time_slots_path, :class => 'button side2 patnextbutton', :method => :get%>