<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice Date:</strong>
  <%= @invoice.invoice_date %>
</p>

<p>
  <strong>Invoice Amount:</strong>
  <%= @invoice.invoice_amount %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @invoice.appointment_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
