<%= form_for(@diagnosis) do |f| %>
  <% if @diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnosis.errors.count, "error") %> prohibited this diagnosis from being saved:</h2>

      <ul>
      <% @diagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diagnosis_description %><br>
    <%= f.text_field :diagnosis_description %>
  </div>
  <div class="field">
    <%= f.label :diagnosis_price %><br>
    <%= f.text_field :diagnosis_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
