<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnosis Description:</strong>
  <%= @diagnosis.diagnosis_description %>
</p>

<p>
  <strong>Diagnosis Price:</strong>
  <%= @diagnosis.diagnosis_price %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
