<br><br><br><br>
<%= button_to 'Reports', report_dashboard_index_path, :class => 'button side adbutton1 adnextbutton', :method => :get %>
<%= button_to 'Database Maintenance', db_maintenance_dashboard_index_path, :class => 'button side adnextbutton', :method => :get  %>