<h1>Listing Time Slots</h1>

<table>
  <thead>
    <tr>
      <th>Time Slot String</th>
      <th>Time Slot</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @time_slots.each do |time_slot| %>
      <tr>
        <td><%= time_slot.time_slot_string %></td>
        <td><%= time_slot.time_slot %></td>
        <td><%= link_to 'Show', time_slot %></td>
        <td><%= link_to 'Edit', edit_time_slot_path(time_slot) %></td>
        <td><%= link_to 'Destroy', time_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time slot', new_time_slot_path %>
