<p id="notice"><%= notice %></p>

<p>
  <strong>Time Slot String:</strong>
  <%= @time_slot.time_slot_string %>
</p>

<p>
  <strong>Time Slot:</strong>
  <%= @time_slot.time_slot %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
