<h1>Active Physicians</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @physicians.where({physician_status_id: 1}).order(:physician_name).each do |physician| %>
      <tr>
        <td><%= physician.physician_name %></td>
        <td><%= physician.physician_email %></td>
        <td><%= physician.physician_status.phys_status %></td>
        <td><%= link_to 'Appointments Reports', physician %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>