<%= form_for(@physician) do |f| %>
  <% if @physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% @physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :physician_name %><br>
    <%= f.text_field :physician_name %>
  </div>
  <div class="field">
    <%= f.label :physician_email %><br>
    <%= f.text_field :physician_email %>
  </div>
  <div class="field">
    <%= f.label :physician_status_id %><br>
    <%= f.collection_select :physician_status_id, PhysicianStatus.all, :id, :phys_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
