<h1>Active Physicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.where({physician_status_id: 1}).each do |physician| %>
      <tr>
        <td><%= physician.physician_name %></td>
        <td><%= physician.physician_email %></td>
        <td><%= physician.physician_status.phys_status %></td>
        <td><%= link_to 'Appointments', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
