<p id="notice"><%= notice %></p>

<h2>Dr. <%= @physician.physician_name %>'s appointments for: <%=DateTime.now.strftime('%m/%d/%Y')%></h2>


<table>
  <thead>
  <tr>
    <th>Patient</th>
    <th>Time Slot</th>
    <th>Appointment Notes</th>
    <th>Appointment Status</th>
    <th >Action</th>
  </tr>
  </thead>

  <tbody>
  <% @physician.appointments.where({appointment_date: Date.today}).order(:time_slot_id).each do |physician| %>
      <tr/>
        <td><%= physician.patient.patient_name %></td>
        <td><%= physician.time_slot.time_slot_string %></td>
        <td><%= physician.appointment_notes %></td>
        <td><%= physician.appointment_status.app_status%></td>
        <td><%= link_to 'Edit', edit_appointment_path(physician)%></td>
      </tr>

  <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'Back', physicians_path %> |
<%= link_to "Physician's Appointments Report", physician_path(@physician, format: 'pdf')%>

