<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment Status:</strong>
  <%= @appointment_status.app_status %>
</p>

<%= link_to 'Edit', edit_appointment_status_path(@appointment_status) %> |
<%= link_to 'Back', appointment_statuses_path %>
