<p id="notice"><%= notice %></p>

<p>
  <strong>Physician Status:</strong>
  <%= @physician_status.phys_status %>
</p>

<%= link_to 'Edit', edit_physician_status_path(@physician_status) %> |
<%= link_to 'Back', physician_statuses_path %>
