<p id="notice"><%= notice %></p>

<h2><%= @patient.patient_name %>'s Scheduled appointments.</h2>
<p>
  <strong>Email:</strong>
  <%= @patient.patient_email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.patient_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.patient_phone %>
</p>

<table>
  <thead>
  <tr>
    <th>Physician</th>
    <th>Appointment Date</th>
    <th>Time slot</th>
    <th>Symptoms</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @patients.appointments.where({appointment_status_id: 1}).order(:appointment_date).each do |appointment| %>
      <tr>
        <td><%= appointment.physician.physician_name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.time_slot_string%></td>
        <td><%= appointment.appointment_notes %></td>
        <td><%= link_to 'Cancel', patients_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<h4>NOTICE: You will NOT be able to cancel an appointment within 8 hours of the scheduled appointment time.</h4>
<br>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
