// Place all the styles related to the admin_view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.adbutton1{
  margin-left: 400px;
}

.adnextbutton{
  margin-right: 65px;
}