// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.hide{
  visibility: hidden;
}
.bold{
  font-weight: bold;
}