// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fff;
  color: #333;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p, ol, ul {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  font-size: 11px;
  padding: 10px;
}
a {
  color: #000;
}
a:visited {
  color: #666;
}
a:hover {
  background-color: #000;
  color: #fff;
}
div.field, div.actions {
  margin-bottom: 10px;
}
#notice {
  color: green;
}
.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}
#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;
}
#error_explanation h2 {
  background-color: #c00;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: -7px -7px 0;
  padding: 5px 5px 5px 15px;
  text-align: left;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square outside none;
}

table {
  border: 1px solid #000000;
  border-bottom-left-radius: 0;
  border-collapse: collapse;
  box-shadow: 10px 10px 5px #888888;
  margin: 0;
  padding: 0;
  width: 50%;
}
td, th {
  border: 1px solid black;
}
.centered{
  text-align: center;
}

.button{
  background: lightsteelblue;
  width: 180px;
  height: 50px;
  color: #333333;
  font-size: 24;
  font-weight: bold;
  box-shadow: 5px 5px 3px #888888;
}
.side{
  float: left;
}
.dashbutton1{
  margin-left: 175px;
}

.dashnextbutton{
  margin-right: 65px;
}
