// Place all the styles related to the db_maintenance_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side2{
  float: left;
}
.dbbutton1{
  margin-left: 300px;
}

.dbnextbutton{
  margin-right: 65px;
}
