// Place all the styles related to the patient_view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.patbutton1{
  margin-left: 420px;
}

.patnextbutton{
  margin-right: 65px;
}