<h1>Listing Completed Appointments</h1>
<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Physician</th>
      <th>Appointment Date</th>
      <th>Time Slot</th>
      <th>Symptoms</th>
      <th>Diagnosis</th>
      <th>Physician Notes</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.where({appointment_status: 3}).order(:appointment_date).each do |appointment| %>
      <tr>
        <td><%= appointment.patient.patient_name%></td>
        <td><%= appointment.physician.physician_name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.time_slot.time_slot_string%></td>
        <td><%= appointment.appointment_notes %></td>
        <td><%= appointment.diagnosis.diagnosis_description%></td>
        <td><%= appointment.physician_notes %></td>
        <td><%= link_to 'Generate Invoice', appointment %></td>
      </tr>
    <% end %>
  </tbody>
</table>


