<h1>New Appointment</h1>


<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :patient_id %><br>
      <%= f.collection_select :patient_id, Patient.all, :id, :patient_name,  {:prompt => 'Select Name'}  %>
    </div>
    <div class="field">
      <%= f.label :physician_id %><br>
      <%= f.collection_select :physician_id, Physician.all.where({physician_status_id: 1}), :id, :physician_name,  {:prompt => 'Select Physician'}  %>
    </div>
    <div class="field">
      <%= f.label :appointment_date %><br>
      <%= f.date_select :appointment_date  %>
    </div>
    <div class="field">
      <%= f.label :time_slot_id %><br>
      <%= f.collection_select :time_slot_id, TimeSlot.all, :id, :time_slot_string, {:prompt => 'Select'} %>
    </div>
    <div class="field">
      <%= f.label :Appointment_Notes %><br>
      <%= f.text_area :appointment_notes %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <%= link_to 'Back', patient_view_index_path %>
    <div class="hide">
      <%= f.label :diagnosis_id %><br>
      <%= f.collection_select :diagnosis_id, Diagnosis.all, :id, :diagnosis_description, {:selected => 1} %>
    </div>
    <div class="hide">
      <%= f.label :physician_notes %><br>
      <%= f.text_area :physician_notes, :value => 'Physician Notes'%>
    </div>
    <div class= " hide">
      <%= f.label :appointment_status_id %><br>
      <%= f.collection_select :appointment_status_id, AppointmentStatus.all, :id, :app_status, {:selected => 1}  %>
    </div>

<% end %>

<!--<%= render 'form' %>-->


