<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.patient_name%>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.physician_name %>
</p>

<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Time Slot:</strong>
  <%= @appointment.time_slot.time_slot_string %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @appointment.appointment_notes %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @appointment.diagnosis.diagnosis_description %>
</p>

<p>
  <strong>Physician Notes:</strong>
  <%= @appointment.physician_notes %>
</p>

<p>
  <strong>Appointment Status:</strong>
  <%= @appointment.appointment_status.app_status %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Generate Invoice (PDF)', appointment_path(@appointment, format: 'pdf')%>
